/**
 * Standard Variables Classes
 * =================================
 */

// Colors
$black-color: #000000;
$dark-purple-color: #23123a;
$orange-color: #fa6e3d;
$cyan-color: #59d8d1;
$cyan-blue: #4A9FF9;
$light-orange: #f9944a;
$alice-blue-color: #f1f5f8;
$white-color: #ffffff;
$gray94: #f0f0f0;
$green-cyan: #2ac06d;
$dark-gray: #333;
$edeff0: #edeff0;
$whirlpool-color: #7f949c;

// Fonts size 
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-30: 30px;
$font-102: 102.18px;